{% extends 'admin/base.html' %}

{% block app_content %}
<div class="row justify-content-center">
    <div class="card-body" style="width: 50%; margin: 0 auto;">
        <h1 class="card-title text-center mb-4">添加课程信息</h1>
        <div class="form-group">
            <label for="name">课号</label>
            <input type="text" class="form-control" id="code" name="code" placeholder="请输入课号">
        </div>
        <div class="form-group">
            <label for="name">课程名</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="请输入课程名">
        </div>
        <div class="form-group">
            <label for="credit">学分</label>
            <input type="text" class="form-control" id="credit" name="credit" placeholder="请输入学分">
        </div>
        <!-- 可根据需要添加其他课程信息输入框 -->
        <button type="submit" class="btn btn-primary btn-block" onclick="add()">提交</button>
    </div>
</div>
<script>
    function add(courseCode) {
        const code = document.getElementById('code').value;
        const name = document.getElementById('name').value;
        const credit = document.getElementById('credit').value;
        fetch(`/admin/add`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                code: code,
                name: name,
                credit: credit
            })
        })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                window.location.href = '/admin/mycourses';
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
{% endblock %}